<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
</head>
<body>
    <div id="spinner" class="spinner"></div>
    <div id="header" class="header"> 
        <h1>
            Recipe Finder
        </h1>
        <div id="inputs-row" class="inputs-row">
            <div id=input-wrapper class="input-wrapper">
                <input id="ingredients" type="text" placeholder="Add ingredient...">
                <button id="add-button" class="add-button">
                    +
                </button>
            </div>
            <button id="find-recipes-button" class="find-recipes-button">
                Find Recipes
            </button>
        </div>
        <div id="my-ingredients-row" class="my-ingredients-row"></div>
    </div>
    <div id="content" class="content">
        <div id="recipes-list-box" class="recipes-list-box">
            <div id="recipes" /></div>
            <div id="no-results" class="no-results" style="display: none;">
                No recipes found for the given ingredients.
            </div>
        </div>
        <div id="recipe-box" class="recipe-box">
            <div id="recipe-box-helper-text" class="recipe-box-helper-text"> 
                Please select a recipe
            </div>
        </div>
    </div>
</body>
</html>